<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mx-auto">
            <div class="card mt-5 shadow">
                <h6 class="mt-2">Click on any of these button</h6>
                <div class="card-body">
                    <button mat-raised-button class="float-start" (click)="routeToOtherbanks()">Other banks</button>
                    <button mat-raised-button class="float-end" color="warn" (click)="routeTocashloan()">Cashloan</button>
                </div>
            </div>
        </div>
    </div>
</div>
